* { margin: 0; padding: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;

  font-weight: normal;
}
